<header class="modal-header">
    <h1>准备离开当前页面吗?</h1>
</header>
<a class="close" href="" title="关闭" {{action "closeModal"}}>{{inline-svg "close"}}<span class="hidden">关闭</span></a>

<div class="modal-body">
    <p>
        嘿, 看起来你没有保存你所做的改变。
    </p>

    <p>离开前请保存!</p>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn" data-test-stay-button><span>留下</span></button>
    <button {{action "confirm"}} class="gh-btn gh-btn-red" data-test-leave-button><span>离开</span></button>
</div>
