<header class="modal-header">
    <h1>准备离开当前页面吗?</h1>
</header>
<a class="close" href="" title="关闭" {{action "closeModal"}}>{{inline-svg "close"}}<span class="hidden">关闭</span></a>

<div class="modal-body">
    <p>
        嘿, 它看起来像你正在写东西, 还没有保存你的所有内容。

    </p>

    <p>离开前请保存!</p>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>留下</span></button>
    <button {{action "confirm"}} class="gh-btn gh-btn-red"><span>离开</span></button>
</div>
