<header class="modal-header">
    <h1>Transfer Ownership</h1>
</header>
<a class="close" href="" title="关闭" {{action "closeModal"}}>{{inline-svg "close"}}<span class="hidden">关闭</span></a>

<div class="modal-body">
    <p>
        Are you sure you want to transfer the ownership of this blog?
        You will not be able to undo this action.
    </p>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>取消</span></button>
    {{gh-task-button "Yep - I'm sure" task=transferOwnership class="gh-btn gh-btn-red gh-btn-icon"}}
</div>
